<div class="jumbotron">
  <h1>Machine Learning!</h1>
  <div class="row">
    <p class="col-xs-6">
      Machine Learning provides computers with the ability to learn without being explicitly programmed. In other words,
      it gives computer the ability to learn on their own and execute the correct instructions, without you providing
      them
      directions.
    </p>
    <p class="col-xs-offset-6"></p>
  </div>

  <div class="row">
    <p (click)="onNavigate('intro')" class="col-xs-1"><a class="btn btn-primary btn-lg" role="button">Intro</a></p>
    <p (click)="onNavigate('demo')" class="col-xs-1"><a class="btn btn-primary btn-lg" role="button">Demo</a></p>
    <p class="col-xs-10"></p>
  </div>
</div>
